<div class="banner d-flex-column text-center align-content-center" style="min-height: clamp(300px, 40svh, 600px)">
  <h1 class="mb-0">Movie lists</h1>
  <p class="text-opacity-75">Create and manage your own lists!</p>
</div>
<div class="container">
  <h2>My lists</h2>
  <div class="cards d-flex flex-wrap gap-3">
    <% @lists.each do |list| %>
      <div class="card-category text-center align-content-center border border-3 opacity-75 rounded" style="min-width: 160px; height: 150px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://img.freepik.com/premium-photo/movie-clapboard-standing-film-set-abandoned-building_237404-9946.jpg'%>); background-size: cover; background-position: center">
        <%= link_to list.name, list_path(list), class: 'text-white text-decoration-none' %>
      </div>
    <% end %>
  </div>
</div>
