<div>
  <h1><%= @list.name %></h1>
</div>
<%= link_to "New movie", new_bookmark_path %>
<% @list.bookmarks.each do |bookmark| %>
<div class="movie-card">
  <%= bookmark.movie.title %>
  <%= link_to "Delete movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
<% end %>
