// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;

// WIP
$orange: #0E0E0E;
$font: #6F1A07;
$bg: #11192d;

// https://coolors.co/11192d-615663-b09398-cedfd9-6f1a07-0e0e0e
