.card {
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(135, 128, 150);
  border-radius: 0.375rem;
  place-content:center;
}

.card a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(199, 197, 229);
  text-decoration: none;
  overflow-wrap: anywhere;
  font-size: 24px;
  // font-weight: bold
}
