.navbar {
  justify-content: space-between;
  background: rgb(61, 67, 74);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar a {
  text-decoration: none;
}
